---
permalink: /grad-school/
author_profile: true
---

<style>
  body {
      font-family: "Arial", sans-serif;
      font-size: 14px;
      color: #333;
  }
  a {
      color: #014552;
  }
  h2 {
      text-align: center;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  a:hover {
      text-decoration: underline;
  }
  .section {
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background: #fdf4f7;
  }
  .archive-container {
      margin: 20px auto;
      max-width: 800px;
  }
  .archive__subtitle {
      text-align: center;
      font-weight: bold;
      margin-top: 20px;
      font-size: 22px;
      color: #333;
  }
  .archive__post {
      margin: 15px 0;
      padding: 15px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;
  }
  .archive__post:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>

<div class="section">
  <h2>📚 Grad school application guide</h2>
  <div class="archive-container">
    {% capture written_year %}'None'{% endcapture %}
    {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if year != written_year %}
        <h2 class="archive__subtitle">{{ year }}</h2>
        {% capture written_year %}{{ year }}{% endcapture %}
      {% endif %}
      <div class="archive__post">
        {% include archive-single.html %}
      </div>
    {% endfor %}
  </div>
</div>
